body {
  background: #E5E5E5;
}

#app {
  display: flex;
  flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  width: 1440px;
  margin: 0 auto;
}
#app .loading {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -40px;
}
#app .loading .lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
#app .loading .lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
#app .loading .lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: darkgray;
}
#app .loading .lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
#app .loading .lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
#app .loading .lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
#app .loading .lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
#app .loading .lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
#app .loading .lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
#app .loading .lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
#app .loading .lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
#app .loading .lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
#app .loading .lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
#app .loading .lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
#app .loading .lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#app .sidebarWrapper .sidebarHeader {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 35px;
  color: #3F3F3F;
}
#app .sidebar {
  width: 332px;
  height: 440px;
  border-radius: 4px;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02);
  background: #FFFEFB;
  padding: 41px 24px;
  margin-top: 24px;
  margin-right: 16px;
}
#app .sidebar .inputGroup {
  display: flex;
  flex-direction: column;
  flex-flow: column;
  -ms-flex-direction: column;
  -ms-flex-flow: column;
  flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
}
#app .sidebar .inputGroup label {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: -0.02em;
  color: #49485E;
  margin-bottom: 4px;
}
#app .sidebar .inputGroup input[type=text],
#app .sidebar .inputGroup input[type=number],
#app .sidebar .inputGroup textarea {
  background: #FFFEFB;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  border: none;
  margin-bottom: 6px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #B4B4B4;
  padding-left: 16px;
  padding-top: 10px;
  padding-right: 16px;
  padding-bottom: 11px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
#app .sidebar .inputGroup textarea {
  margin-bottom: 16px;
}
#app .sidebar .inputGroup input::-webkit-outer-spin-button,
#app .sidebar .inputGroup input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#app .sidebar .inputGroup input[type=number] {
  -moz-appearance: textfield;
}
#app .sidebar .inputGroup input:focus,
#app .sidebar .inputGroup textarea:focus {
  outline: none;
}
#app .sidebar .inputGroup input {
  height: 36px;
}
#app .sidebar .inputGroup textarea {
  height: 108px;
}
#app .sidebar .inputGroup .activeBtn,
#app .sidebar .inputGroup .deactiveBtn {
  height: 36px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 10px;
  text-align: center;
  font-family: "Inter";
  font-size: 12px;
  line-height: 15px;
  font-weight: 600;
  font-style: normal;
  margin-top: 24px;
}
#app .sidebar .inputGroup .activeBtn {
  background: #7BAE73;
  color: #fff;
}
#app .sidebar .inputGroup .deactiveBtn {
  background: #EEEEEE;
  color: #B4B4B4;
}
#app .sidebar .requiredField {
  position: relative;
}
#app .sidebar .requiredField ::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 4px;
  height: 4px;
  background: #FF8484;
}
#app .sidebar .warningMsg {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 10px;
  letter-spacing: -0.02em;
  color: #FF8484;
  margin-bottom: 12px;
}
#app .sidebar .warningOutline {
  border: 1px solid #FF8484 !important;
}
#app .list-complete-item {
  transition: all 1s;
  display: inline-block;
}
#app .list-complete-enter, #app .list-complete-leave-to {
  opacity: 0;
  transform: translateY(30px);
}
#app .list-complete-leave-active {
  position: absolute;
}
#app .itemsWrapper {
  width: 100%;
}
#app .itemsWrapper .selectWrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 12px;
}
#app .itemsWrapper select {
  width: 121.49px;
  height: 36px;
  background: #FFFEFB;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-top: 31px;
  border: none;
  outline: none;
  appearance: none;
  cursor: inherit;
  line-height: inherit;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  padding: 10px 16px;
  color: #B4B4B4;
}
#app .itemsWrapper select::-ms-expand {
  display: none;
}
#app .itemsWrapper ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  padding: 0;
  margin: 0;
  justify-content: flex-start;
  /* Firefox < 16 */
  /* Safari, Chrome and Opera > 12.1 */
  /* Internet Explorer */
  /* Opera < 12.1 */
}
#app .itemsWrapper ul li {
  transition: translateY(30px);
}
#app .itemsWrapper ul .itemCard {
  width: 332px;
  background: #FFFEFB;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02);
  border-radius: 4px;
  position: relative;
  margin: 8px;
  min-height: 423px;
}
#app .itemsWrapper ul .itemCard .itemImg {
  height: 200px;
  text-align: center;
  overflow: hidden;
}
#app .itemsWrapper ul .itemCard .itemImg img {
  width: 332px;
  border-radius: 4px 4px 0px 0px;
  margin-bottom: 16px;
}
#app .itemsWrapper ul .itemCard .itemDetails {
  color: #3F3F3F;
  font-family: "Source Sans Pro";
  padding: 0 16px 16px;
  min-height: 223px;
}
#app .itemsWrapper ul .itemCard .itemDetails .itemName {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 16px;
  margin-top: 16px;
}
#app .itemsWrapper ul .itemCard .itemDetails .itemDesc {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 32px;
}
#app .itemsWrapper ul .itemCard .itemDetails .itemPrice {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
}
#app .itemsWrapper ul .itemCard .itemDeleteBtn {
  position: absolute;
  top: -8px;
  right: -8px;
  width: 32px;
  height: 32px;
  background: url("./assets/delBtn.png") top -2px center no-repeat;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: none;
  opacity: 0;
}
#app .itemsWrapper ul .itemCard:hover .itemDeleteBtn {
  opacity: 1;
  -webkit-animation: fadein 0.5s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.5s;
  /* Firefox < 16 */
  -ms-animation: fadein 0.5s;
  /* Internet Explorer */
  -o-animation: fadein 0.5s;
  /* Opera < 12.1 */
  animation: fadein 0.5s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=main.css.map */
